<div class="container">

  <div class="row pt-3">
    <div class="col-md-3 offset-md-2">

      <h4 class="bg-dark text-white text-center p-3">Sign up</h4>

    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-2">
      <%= form_with model: @owner, url: owner_registration_path, id: "new_owner", class: "new_owner", local: true do |f| %>
       <%= render "devise/shared/error_messages", resource: resource %>

      <table class="table table-borderless">
        <tr>
          <div class="field">
            <th>NAME (minimum is 2 characters)<br /></th>
              <td><%= f.text_field :name, autofocus: true %></td>
          </div>
        </tr>

        <tr>
          <div class="field">
            <th>EMAIL<br /></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </div>
        </tr>

        <tr>
          <div class="field">
            <th>
                PASSWORD
                <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              </th>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          <div>
        </tr>

        <tr>
          <div class="field">
            <th>PASSWORD_CONFIRMATION<br /></th>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </div>
        </tr>

        <th></th>
        <div class="actions">
          <td><%= f.submit "Sign up", class:"btn btn-outline-primary" %></td>
        </div>
      </table>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>







