  <div class="container">

      <div class="row">
        <div class="col-md-5">
          <div class = "row pt-5">

                <div class="col">
                  <table class="table border-bottom">
                    <thead class="thead-dark">
                      <tr>
                        <th class="text-center">新着情報一覧</th>
                      </tr>
                    </thead>
                </div>

                <% @post.each do |post|%>
                  <tbody>
                    <tr>
                      <td><%= attachment_image_tag post, :image, :fill, 100, 100, format: "jpeg" %></td>
                      <td class="align-middle"><%= post.title %><td>
                      <td class="align-middle"><%= link_to "編集", edit_post_path(post.id),class:"btn btn-outline-success" %></td>
                      <td class="align-middle"><%= link_to "削除", post_path(post.id),class:"btn btn-outline-danger", method: :delete,"data-confirm" => "本当に削除しますか？"  %></td>
                    </tr>
                  </tbody>
                <% end %>
              </table>
            <%= paginate @post %>
          </div>
        </div>
      </div>


      <div class="col-md-7">
        <div classs = "row">

              <div class="col pt-5">
                <table class="table border-bottom">
                  <thead class="thead-dark">
                      <tr>
                        <th class="text-center">古着屋</th>
                      </tr>
                  </thead>
              </div>

                <% @shop.each do |shop| %>
                  <tbody>
                    <tr>
                      <td><%= attachment_image_tag shop, :image, :fill, 100, 100, format: "jpeg" %></td>
                      <td class="align-middle"><%= shop.name %><td>
                      <td class="align-middle"><%= shop.address %></td>
                      <td class="align-middle"><%= link_to "編集", edit_shop_path(shop.id), class:"btn btn-outline-success" %></td>
                      <td class="align-middle"><%= link_to "削除", shop_path(shop.id), class:"btn btn-outline-danger", method: :delete,"data-confirm" => "本当に削除しますか？"  %></td>
                    </tr>
                  </tbody>
                <% end %>
            </table>

           <%= paginate @shop %>

        </div>
      </div>

  </div>