    <div class="container">
      <div class="row">
        <!-- 新着情報一覧 -->
        <div class="col-md-4">


            <div class="row mb-3">
              <div class="col-md-6">
                <h2 class="bg-dark text-white text-center p-2">新着情報</h2>
              </div>
            </div>

          <div class="row">
            <div class="col-md-7">
              <table class="table border-bottom">
                  <tr>
                    <th class="text-center">title</th>
                  </tr>
                <% @post.each do |post|%>
                  <tbody>
                    <tr>
                      <td><%= post.title %><td>
                      <td><%= link_to "more", post_path(post.id) %></td>
                    </tr>
                  </tbody>
                <% end %>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-8">

          <div class="row mb-3">
            <div class="col-md-4">
              <h2 class="bg-dark text-white text-center p-2">
                <%= @shop.name %>
              </h2>
            </div>
          </div>

          <%= attachment_image_tag @shop, :image, :fill, 100, 100, format: 'jpeg' %>

          <h5>○ショップ紹介</h5>
          <div class="row">
            <div class='col-md-8'>
              <p class="p-2">
                <%= @shop.detail %>
              </p>
            </div>
          </div>

          <div class='row'>
            <div class='col-md-9'>
              <table class="table table-bordered">
                <tbody>
                    <tr>
                      <th scope="row">住所</th>
                      <td><%= @shop.address %></td>
                    </tr>
                    <tr>
                      <th scope="row">営業開始時間</th>
                      <td><%= @shop.open_time %></td>
                    </tr>
                    <tr>
                      <th scope="row">営業終了時間</th>
                      <td><%= @shop.close_time %></td>
                    </tr>
                    <tr>
                      <th scope="row">電話番号</th>
                      <td><%= @shop.phone_number %></td>
                    </tr>
                    <tr>
                      <th scope="row">HP</th>
                      <td><%= @shop.phone_number %></td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>






                      <td>店舗名</td>
                      <td><%= @shop.name %></td>
                    </tr>
                    <tr>
                      <td>ショップ紹介</td>
                      <td><%= @shop.detail %></td>
                    </tr>
                    <tr>
                      <td>店舗画像</td>
                      <td><%= @shop.image %></td>
                    </tr>


