  <div class="container">
    <div class="row">

        <!-- ショップ詳細 -->
        <div class="col offset-2">

          <div class="pt-5 mb-5">
            <div class="col-md-4 text-cnter">
              <h2 class="bg-dark text-white text-center p-2">
                <%= @shop.name %>
              </h2>
            </div>
          </div>

          <%= attachment_image_tag @shop, :image, :fill, 400, 300, format: 'jpeg' %>

          <h5 class="pt-5">○ショップ紹介</h5>

            <div class="col-md-8">
              <p class="p-2">
                <%= @shop.detail %>
              </p>
            </div>

            <div class="col-md-10 text-center">
              <table class="table table-bordered">
                <tbody>
                    <tr>
                      <th scope="row">住所</th>
                      <td><%= @shop.address %></td>
                    </tr>
                    <tr>
                      <th scope="row">営業開始時間</th>
                      <td><%= @shop.open_time %></td>
                    </tr>
                    <tr>
                      <th scope="row">営業終了時間</th>
                      <td><%= @shop.close_time %></td>
                    </tr>
                    <tr>
                      <th scope="row">電話番号</th>
                      <td><%= @shop.phone_number %></td>
                    </tr>
                    <tr>
                      <th scope="row">HP</th>
                      <td><%= @shop.url %></td>
                    </tr>
                </tbody>
              </table>
              <%= render "shops/map" %>
            </div>
        </div>

    </div>
  </div>






