<div class="container">

  <div class="row pt-3">
    <div class="col-md-3 offset-md-1">

      <h4 class="bg-dark text-white text-center p-3">Update your profile</h4>

    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">

      <%= form_with model:@owner do |f| %>
      <table class="table table-borderless">

        <tr>
          <div class="form-group">
            <th>NAME</th>
              <td><%= f.text_field :name %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th>EMAIL</th>
              <td><%= f.email_field :email %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th>PASSWORD</th>
              <td><%= f.password_field :password %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th>PASSWORD_CONFIRAMATION, "Confirmation"</th>
              <td><%= f.password_field :password_confirmation %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th></th>
              <td><%= f.submit "変更を保存", class:"btn btn-outline-primary" %></td>
          </div>
        </tr>

      </table>
      <% end %>
    </div>
  </div>

</div>



