<div class="container">
  <div class="row">

     <!-- 検索を挿入しました -->
    <div class="col-md-4 offset-9 p-5">
      <div class="search-form">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <%= f.submit "検索",class:"input-group-btn" %>
        <% end %>
      </div>
    </div>


    <div class="col align-self-center">
      <!-- サンプルで画像を挿入しました -->
      <div id="carouselExampleIndicators" class="carousel slide text-center" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "photo-1542058186993-286fdce0b580", width: '570px', height: '370px' %>
          </div>
          <div class="carousel-item">
            <%= image_tag "photo-1441986300917-64674bd600d8", width: '570px', height: '370px' %>
          </div>
          <div class="carousel-item">
            <%= image_tag "photo-1560243563-062bfc001d68", width: '570px', height: '370px' %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <p class="text-center p-5">
        このサイトは東海地方を中心に古着屋さんを紹介しているサイトです。<br>
        古着屋のオーナーの方はお店の情報登録、イベント情報の告知ができます。<br>
        お店の情報登録、イベント情報の告知には会員登録が必要になります。<br>
      </p>

        <div class="row">
          <!-- 新着情報一覧 -->
          <%= render "shares/post", post: @post %>
          <!-- 古着屋一覧 -->
          <%= render "shares/shop", shop: @shop %>
        </div>
    </div>
  </div>
</div>

