<div class="main-container">
<nav class="navbar navbar-expand-lg">
  <div class="container">

      <!--オーナーログイン時-->
      <% if owner_signed_in? %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "HOME", shops_path, class:"nav-link text-light" %></li>
        <li class="nav-item"><%= link_to "PROFILE", edit_owner_path(current_owner.id), class:"nav-link text-light" %></li>
        <li class="nav-item"><%= link_to "SHOP", new_shop_path, class:"nav-link text-light" %></li>
        <li class="nav-item"><%= link_to "POST", new_post_path, class:"nav-link text-light" %></li>
        <li class="nav-item"><%= link_to "LOGOUT", destroy_owner_session_path, method: :delete, class:"nav-link text-light" %></li>

      </ul>


      <!--顧客未ログイン時-->
      <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "HOME", root_path, class:"nav-link text-light" %></li>
        <li class="nav-item"><%= link_to "ABOUT", about_path, class:"nav-link text-light" %></li>
        <li class="nav-item"><%= link_to "SIGN UP", new_owner_registration_path, class:"nav-link text-light" %></li>
        <li class="nav-item"><%= link_to "LOGIN", new_owner_session_path, class:"nav-link text-light" %></li>

      <% end %>
      </ul>


  </div>
</nav>
<div>