<!DOCTYPE html>
<html>
  <head>
    <title>UcsExprosion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload2" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
      <!--ヘッダー-->
    <header>
      <%= render "layouts/header" %>
    </header>

    <%= yield %>
      <!--フッター-->

      <%= render "layouts/footer" %>

  </body>
</html>
